html {
    scroll-behavior: smooth;
}
/* 基本布局 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



/* 固定头部 */
header {
    position: sticky;  /* 使用 sticky 使头部固定 */
    top: 0;            /* 固定在顶部 */
    z-index: 1000;     /* 确保它覆盖其他内容 */
    background-color: #333;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* 为头部添加阴影，使其更加突出 */
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    padding: 15px;
    text-decoration: none;
}
nav a:hover {
    background-color: #555;  /* 鼠标悬停时改变背景色 */
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}